---
import Layout from "@/layouts/layout.astro";
import Prose from "@/components/prose.astro";
import PageHeader from "@/components/page-header.astro";
import Content, { frontmatter } from "./_content/uses.md";
import FormattedDate from "@/components/formatted-date.astro";
import UsesIcon from "@/assets/uses.svg";
---

<Layout title="Uses | Edward Vonschondorf" description="Everything I use for development and gaming.">
  <article class="z-10 container mx-auto max-w-3xl space-y-1.5 lg:space-y-3">
    <PageHeader header="Uses" Icon={UsesIcon}>
      Everything I use on a regular basis for web/game development and gaming. Inspired by <a
        href="https://uses.tech/"
        target="_blank"
        rel="noopener noreferrer external"
        class="font-medium text-orange-500 transition-colors duration-300 ease-in-out hover:text-stone-100">uses.tech</a
      >.
    </PageHeader>
    <div class="rounded-xl border border-stone-700 px-3 py-3 backdrop-blur-xs md:rounded-3xl md:px-6 md:py-6">
      <div class="flex flex-col gap-3 font-mono text-sm text-stone-500 sm:flex-row sm:justify-between">
        <span class="block">Published: <FormattedDate date={frontmatter.pubDate} /></span>
        <span class="block">Updated: <FormattedDate date={frontmatter.updateDate} /></span>
      </div>
      <Prose>
        <Content />
      </Prose>
    </div>
  </article>
</Layout>
