---
import Layout from "@/layouts/layout.astro";
import Prose from "@/components/prose.astro";
import PageHeader from "@/components/page-header.astro";
import Content from "./uses.md";
import UsesIcon from "@/assets/uses.svg";
---

<Layout title="Uses | Edward Vonschondorf" description="Everything I use for development and gaming.">
  <article class="relative z-10 container mx-auto max-w-3xl space-y-1.5 lg:space-y-3">
    <PageHeader header="Uses" Icon={UsesIcon}>
      Everything I use on a regular basis for web/game development and gaming. Inspired by <a
        href="https://uses.tech/"
        target="_blank"
        rel="noopener noreferrer external"
        class="font-medium text-stone-100 transition-colors duration-300 ease-in-out hover:text-orange-600">uses.tech</a
      >.
    </PageHeader>
    <div class="border-y border-stone-700 px-3 pb-3 backdrop-blur-xs md:rounded-3xl md:border-x md:px-6 md:py-6">
      <Prose>
        <Content />
      </Prose>
    </div>
  </article>
</Layout>
