---
const content = {
  p1Header: "What I Do",
  p1Content:
    "I create things and solve problems by using JavaScript/TypeScript for both front-end and back-end development, with additional experience in Python and Go. I enjoy making everything from browser-based games with vanilla JavaScript to full-stack MERN applications and web-based desktop apps using Electron. I'm open to remote or on-site freelance contracts and full-time opportunities.",
  p2Header: "Interests & Hobbies",
  p2Content:
    "I enjoy running, hiking, traveling, PC gaming, building custom PCs, cooking, writing (technical/fiction) and watching movies and anime.",
};
const { p1Header, p1Content, p2Header, p2Content } = content;
---

<div class="space-y-1.5">
  <h3 class="text-lg font-bold text-stone-100">{p1Header}</h3>
  <p class="text-stone-300">{p1Content}</p>
</div>
<div class="space-y-1.5">
  <h3 class="text-lg font-bold text-stone-100">{p2Header}</h3>
  <p class="text-stone-300">{p2Content}</p>
</div>
