---
import Layout from "@/layouts/layout.astro";
import IntroSection from "@/pages/home/intro-section.astro";
import ButtonSection from "@/pages/home/button-section.astro";
import AboutSection from "@/pages/home/about-section.astro";
import PageLinksSection from "@/pages/home/page-links-section.astro";
---

<Layout title="Software Developer | Edward Vonschondorf" description="Welcome to my little corner of the internets!">
  <article
    class="z-10 mx-auto my-auto max-w-3xl overflow-clip rounded-xl border border-stone-700 backdrop-blur-xs md:rounded-3xl">
    <section
      class="space-y-6 border-b border-stone-700 bg-radial-[at_50%_25%] from-stone-800/70 to-transparent px-1.5 py-6 sm:p-6">
      <IntroSection />
    </section>
    <!-- <section
      class="grid grid-cols-2 divide-x divide-stone-7 border-b border-stone-700 text-center font-bold text-stone-100">
      <ButtonSection />
    </section> -->
    <section class="space-y-6 border-b border-stone-700 px-3 py-6 sm:p-6">
      <AboutSection />
    </section>
    <section class="grid grid-cols-2 divide-x divide-y divide-stone-700 sm:grid-cols-4 sm:divide-y-0">
      <PageLinksSection />
    </section>
  </article>
</Layout>
