---
const { currentPage, href, isExternal, name, Icon } = Astro.props;
const isActive = (href: string) => {
  return (href === "/" && currentPage === "/") || (href !== "/" && currentPage.startsWith(href));
};
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class={`group text-sm relative flex items-center gap-3 py-6 pl-6 hover:bg-stone-700/60 lg:h-12 lg:py-0 lg:pl-0 ${
    isActive(href) ? "bg-stone-700/60 text-orange-500" : "text-stone-300"
  }`}>
  <Icon
    class="size-6 transition-all duration-300 ease-in-out group-hover:scale-120 group-hover:text-white lg:mx-auto"
    aria-label={name}
  />
  <span
    class="block transition-all duration-300 ease-in-out group-hover:text-white lg:absolute lg:translate-x-14 lg:opacity-0 lg:group-hover:opacity-80"
    >{name}</span
  >
</a>
