---

---

<div
  class="prose w-full prose-stone prose-invert prose-headings:text-stone-100 prose-a:text-orange-500 prose-a:no-underline prose-a:transition-colors prose-a:duration-300 prose-a:ease-in-out prose-a:hover:text-white prose-strong:text-stone-200 prose-code:rounded prose-code:bg-stone-700 prose-code:p-1 prose-pre:w-full prose-pre:max-w-full prose-pre:bg-stone-900 prose-pre:whitespace-pre-wrap prose-pre:prose-code:bg-transparent">
  <slot />
</div>
