---
import { ClientRouter } from "astro:transitions";
import BaseHead from "@/components/base-head.astro";
import SiteNavigation from "@/components/site-navigation.astro";

const currentPage = Astro.url.pathname;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter />
  </head>
  <body class="relative flex min-h-screen bg-stone-950 antialiased">
    <div class="bg-grid-lines absolute inset-0 z-0 h-screen opacity-60"></div>
    <SiteNavigation currentPage={currentPage} />
    <main class="flex flex-grow flex-col items-center">
      <slot />
    </main>
  </body>
</html>
