---
import { getEntry, render } from "astro:content";

const about = await getEntry("home", "about")!;

const { Content } = await render(about);
---

<div class="about space-y-1.5 xl:space-y-3">
  <Content />
</div>
